<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>复选框2</title>
</head>
<body>
    <div id="app">
        <input type="checkbox" name="html" id="html" value="html" v-model="checked" >
        <label for="html">HTML</label>
        <br>
        <input type="checkbox" name="js" id="js" value="js" v-model="checked" >
        <label for="js">JavaScript</label>
        <br>
        <input type="checkbox" name="css" id="css" value="css" v-model="checked" >
        <label for="css">CSS</label>
        <br>
        <p>选择的项是: {{checked}}</p>
    </div>

    <script src="https://unpkg.com/vue/dist/vue.min.js"></script>
    <script>
        var app = new Vue({
            el: '#app',
            data: {
                checked: ['html', 'js']
            }
        })
    </script>
</body>
</html>